{% extends 'quotes/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h2>About Muhammad Ali</h2>
    <p>
        Muhammad Ali is The People's Champion. He has fought for the rights of all humans and especialy protested against the Vietname War.
        In addition, he spoke up for opressed people around the world and even went to active war countries for support and charitable organizations.
        There is No One that can replace him. 
    </p>

    <h2>About Creator</h2>
    <p>
        This site was built by Mirza Faruq 
    </p>
{% endblock %}
